/*
File: style.css
Author: Anna Wang

Desc: This is css file, to change the web layout.
*/


/*This is for the whole landing page*/
.landing {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 30%;
}



/*Buttons*/
#submit-rating-button {
    margin-left: 18px;
    display: inline-block;
    height: 38px;
    /* padding: 0 30px; */
    color: #555;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

#value-tag {
    margin-left: 18px;
    width: 60%;
    height: auto;
    top: 14px;
    right: 10px;

}

#choose-the-source,
#choose-the-stat {
    margin-left: 18px;
    width: 40%;
}


#graph-for-planner,
#bar-chart-for-planner {
    margin-left: 18px;
    width: 40%;
}



#submit-rating-button:hover {
    margin-left: 18px;
    color: #FFF;
    background-color: #119445;
    border-color: #119445;
}



#enterButton {
    display: inline-block;
    height: 60px;
    padding: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #4CAF50;
    border-radius: 4px;
    border: 1px solid #f4f7f4;
    cursor: pointer;
}

#enterButton:hover {
    color: #f8f8f8;
    border-color: #0d0d02;
    background-color: #08940f
}


/*Tab's label setting*/
#tab1,
#tab2,
#tab3 {
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Enter The App button in the landing page*/

/*Set the word style for "Use the map..."*/

/*adjusting "Select all assets the map should display" & cateogory selection panel*/
.first-panel {
    margin-left: 18px;
    top: 10%;
    color: dimgray;
    font-family: Arial;
    padding-bottom: 40px;
    font-size: 15px;
    /* background-color: ghostwhite; */
    /* border: 2px double gray; */
    padding: 8px
}


/*adjust checklist*/
#recycling_type {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/*Set the map's position*/
#graph {
    /* float: left; */
    margin-left: 0;
    padding: 0;
    height: 130vh;
    margin-top: 10px;

}

#address-search-tab1 {
    padding-top: 8px;
    margin-left: 18px;
    width: 60%;
    font-size: 15px;
    height: 30px
}

#search-address-button-tab1 {
    padding-top: 8px;
    color: #FFF;
    background-color: #119445;
    border-color: #119445;
    width: 55px;
    margin-left: 18px;
    font-size: 15px;
    text-align: center;
}

#suggest-edit-instruction {
    margin-left: 18px;
    font-style: italic;
    color: red;
}

#open-edit-window {
    margin-left: 18px;
}




.third-panel-asset-info {
    background-color: ghostwhite;
    /* margin-right: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px double gainsboro;
    padding: 8px;
    font-size: 14px;
    height: 30vh;
}

.third-panel-rating {
    background-color: ghostwhite;
    /* margin-right: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px double gainsboro;
    padding: 8px;
    font-size: 13px;
    height: 99vh
}



/*Selected assests information*/
#display-asset-desc,
#web_link,
#display-asset-address {
    /* padding-top: 8px; */
    padding-right: 8px;
    font-size: 12px;
    color: slategray;
    flex-direction: column;
    flex-wrap: wrap;

}

#display-asset-name {
    padding-top: 8px;
    font-size: 13px;
    color: slategray;
    flex-direction: column;
    flex-wrap: wrap;
}

/*for web link*/
/* unvisited link */
a:link {
    color: rgb(0, 187, 255);
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: rgb(9, 101, 143);
}

/* selected link */
a:active {
    color: blue;
}

/*Rating: Slider setting*/
#useSlider {
    margin-bottom: 30px;
    color: slategray;
}



/*Slider setting*/
#rating-score {
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 18px
}

#rating-remind {
    margin-left: 18px
}

/*Text area setting*/
#rating-comments {
    display: inline-block;
    min-height: 8em;
    cursor: text;
    background-color: #eee;
    overflow: auto;
    width: 60%;
    margin-left: 18px;
    /* max-width: 100%; */
    height: auto;
}

/*Submit rating notice*/
#submit-rating-confirmation {
    width: fit-content;
    border-radius: 8%;
    text-align: center;
    font-size: 18px;
    margin-top: 0.8em;
}

/*setting for "Know about an asset..."*/
#know {
    color: green;
    font-weight: inherit;
    font-size: 18px;
    padding: 18px;
}

/*Submit new asset button*/
#open-asset-submit {
    margin-left: 18px;
    background-color: #4CAF50;
    color: white;
    /* padding: 10px 15px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 310px;
}

#open-asset-submit:hover {
    background-color: #157819;
    color: white;
}

/* Hopes for the future page */

#missing-asset-intro {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 25px;
    color: darkslategray;
}

#click-missing-asset-button {
    margin-left: 25px;
    top: 10%;
    left: 2%;
    color: dimgray;
}

#open-suggest-missing-submit {
    background-color: #4CAF50;
    color: white;
    margin-left: 25px;
    padding: 10px 15px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 520px;
}